networks:
  hagovusqueda:
    external: false
services:
  db:
    image: postgres:18
    container_name: db
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - hagovusqueda

  api:
    build:
      context: ./api
    container_name: api
    command: sh -c "/usr/sbin/crond -f -l 8 & npm run start"
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - hagovusqueda

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    command: npm run start
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - hagovusqueda

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "${NGINX_PORT}:80"
    env_file:
      - .env
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
    networks:
      - hagovusqueda

  adminer:
    image: adminer
    restart: always
    ports:
      - "8082:8080"
    networks:
      - hagovusqueda

volumes:
  db_data:
