version: "3.9"
networks:
  hagovusqueda:
    external: false
services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - hagovusqueda

  api:
    build: .
    container_name: api
    command: npm run start
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - hagovusqueda

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "${NGINX_PORT}:80"
    env_file:
      - .env
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - hagovusqueda

  studio:
    build: .
    command: npx prisma studio
    container_name: studio_db
    ports:
      - "5555:5555"
    env_file:
      - .env
    networks:
      - hagovusqueda

volumes:
  db_data:
