# docker-compose.override.yml
version: "3.9"
services:
  studio:
    build: .
    command: npx prisma studio
    container_name: studio_db
    ports:
      - "5555:5555"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - hagovusqueda
