# docker-compose.override.yml
services:
  api:
    command: npm run dev
    volumes:
      - ./api:/app
      - /app/node_modules

  frontend:
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
