.inputContainer {
  position: relative;
  flex-grow: 1;
}

.searchIcon {
  position: absolute;
  width: 26px;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  height: 40px;
  font-size: 22px;
  padding-left: 50px;
  border-radius: 4px 0 0 4px;
  border: none;

  @media (max-width: 628px) {
    border-radius: 4px;
  }

  &:focus {
    outline: solid 1px #c518de;
  }
}
