html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #171717;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #7b118b;
  text-decoration: none;

  &:focus {
    outline: solid 1px #c518de;
  }
}

h1 {
  font-size: 25px;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li {
  list-style: none;
}
