.pageContainer {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.pageContainer main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
