.notFoundContainer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.hagovYDragones {
  width: 100%;
  height: 100%;
}

.iframeContainer {
  aspect-ratio: 9 / 16;
  min-height: 80dvh;
  max-width: 90dvw;
  max-height: 90dvh;
}
