.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px;

  @media (max-width: 628px) {
    padding: 24px;
  }
}

.darkBackground {
  width: 100%;
  background: #222;
  color: white;
}

.darkBackground a {
  color: hsl(315, 81%, 69%);
}
