.logo {
  display: block;
  aspect-ratio: 5;
  background-image: url("/logo.png");
  width: 100%;
  max-width: 250px;
  max-height: 50px;
  background-size: 130%;
  background-position: center;

  @media (max-width: 328px) {
    background-image: url("/logo-small.png");
    aspect-ratio: 0.7;
    width: 30px;
  }
}
