.header {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 628px) {
    gap: 10px;
  }
}

.header a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  aspect-ratio: 5;
  background-image: url("/logo.png");
  width: 100%;
  max-width: 250px;
  background-size: 130%;
  background-position: center;
  margin-right: auto;

  @media (max-width: 328px) {
    background-image: url("/logo-small.png");
    aspect-ratio: 0.7;
    width: 30px;
  }
}
