.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 628px) {
    gap: 10px;
  }
}

.header a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
