#Mins   Hours   Days    Months    Weekday   Command

# Playlist cronjobs
0       */2     *       *         *         npm run --prefix /app fetch-youtube-playlists >> /app/scripts/fetch-youtube-playlists.log 2>&1
0       13      *       *         *         PLAYLIST_CRONJOB_FETCH_LIMIT=10000 npm run --prefix /app fetch-youtube-playlists >> /app/scripts/fetch-youtube-playlists.log 2>&1

# Subtitles cronjobs
30      *       *       *         *         npm run --prefix /app fetch-youtube-subtitles >> /app/scripts/fetch-youtube-subtitles.log 2>&1

# System cronjobs
30       *      *       *         *         apk -U upgrade yt-dlp >> /app/scripts/update-yt-dlp.log 2>&1
